<form method="post" action='/recipes'>
<label for="name"> Name of Recipe:</label>
<input type="text" name="name" id="name">
<label for="ingredients"> Ingredients:</label>
<input type="text" name="ingredients" id="namingredients">
<label for="cook_time"> Cook Time:</label>
<input type="text" name="cook_time" id="cook_time">
<input type="submit" value="Submit" id="submit">
</form>